@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Poppins");

//Colors
$green: #3fb0ac;
$blue: #22264b;
$yellow: #e6cf8b;
$brown: #b56969;
$blue-light: #f5f7f9;
$black: #000000;

//font
$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
$title-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

//boxShadow
$shadow: 5px 3px 12px -1px #eaeaeac4;
